.weatherApp
{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: medium;
    font-style: italic;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 20px;

}
body
{
    background-color:bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}
img {
    height:20px;
}
.mainIcon
{
    height: 80px;
}
.details
{
    display: flex;
    flex-direction: column;
}
.weather-details
{
    display: flex;
    gap: 40px;
}